/**********
Success Color Palette
Color - Hex - RGB
Blue - #003663 - (0,54,99)
Grey - #dddddd - (221,221,221)
White - #ffffff	- (255,255,255)
OrangeRed - #CF4C3A - (255,102,51)
Green - #6cc070 - (108,192,112)

fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
**********/

/*****
Reset
******/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom CSS Beyond this point */
html {
  max-width: 100vw;
  font-size: 62.5%;
  position: relative;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

/* Nav */

nav {
  width: 0vw;
  height: 100vh;
  overflow: hidden;
  background-color: #5c5c5c;
  color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  right: 0;
  left: 100%;
  box-shadow: 0 0 10px #acacac34;
  z-index: 2;
  transition: .4s ease-out;
}

.show {
  width: 10vw;
  left: 90%;
}

.navLinksCont {
  display: flex;
  width: 100%;
  font-size: 2rem;
  flex-flow: column nowrap;
  list-style: none;
  align-items: stretch;
}

nav a {
  overflow: hidden;
  text-decoration: none;
  overflow: hidden;
  color: #ffffff;
  width: 100%;
  background-color: #CF4C3A;
  padding: 0 5%;
}

nav a:hover {
  color: #ffffff;
  padding: 1% 2%;
  background-color: #b84334;
  border: .05em solid #9e392c;
}
/* Main */

main {
    margin: 0 auto;
    font-size: 1.5rem;
    width: 90vw;
    min-height: calc(100vh - 10vh);
    text-align: center;
}


.top-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 10vw;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  
}

.top-bar #logo {
  width: 10%;
  border-radius: 50%;
}

.burger {
  margin-left: 25%;
  margin-right: 0;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
  transition: .5s;
}

.change .burger {
  margin-right: 10%;
}

.burgerLine {
  width: 35px;
  height: 5px;
  background-color:#000000b2;
  margin: 6px 0 0 0;
  transition: 0.4s;
}

.change .blOne {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .blTwo {
  opacity: 0;
}

.change .blThree {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

main h1 {
    text-align: center;
    font-weight: 300;
    font-size: 6rem;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 5px #666666;
    width: max-content;
    margin: 0 auto 3%;
    padding: 0 5%;
}


/* footer */

footer {
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: #dddddd;
    box-shadow: 0 0 10px #2b2b2b;
    display: flex;
    padding: 0 1%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.copy {
    flex: 1;
}

footer .social {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
}

.fa {
  height: 50px;
  width: 50px;
  font-size: 30px;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .fa:hover {
      opacity: 0.9;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  

.footer-nav {
    flex: 1;
}

footer a {
    color: #000000;
}

@media only screen and (max-width: 890px) {
  html, body {
      font-size: 50%;
  }

  nav {
    width: 0vw;
    height: 100%;
}
  nav a {
    font-size: 3rem;
    padding: 2% 0;
  }

.show {
    width: 20vw;
    left: 80%;
}

  main {
    min-height: calc(100vh - 60vh);
    width: 100%;
}

.burger {
  margin-left: 25%;
  margin-right: 0;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
  transition: .5s;
}

.change .burger {
  margin-right: 20%;
}

  main h1 {
    margin-top: 10%;
  }

  footer {
    min-height: 60vh;
    flex-flow: column;
    justify-content: space-evenly;
}
  .copy {
    flex: none;
  }
  footer .social {
    flex-flow: column;
    flex: none;
}

  .footer-nav {
    flex: none;
  }
  }

  